{% load static %}

<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'inventory/bootstrap.min.css' %}">
</head>

<body>
	<div class='col-lg-12'>
		<br>	
		This template displays complete inventory of store.

		<br>
		<br>

		{% if inventory_list %}
		<table class="table table-striped">
			<tr>
				<th>SKU</th>
				<th>Quantity</th>
				<th>Actions</th>
			</tr>
			{% for item in inventory_list %}
			<tr>
				<td>{{ item.sku }}</td>
				<td>{{ item.quantity }}</td>
				<td>
					<a class="btn btn-primary" href="{% url 'update_sku' item.sku %}">Update</a>

					<a class="btn btn-warning" href="{% url 'delete_sku' item.sku %}">Delete</a>
				</td>
			</tr>
			{% endfor %}
		</table>
		{% else %}
		<p>Time to stock up ! Your inventory is empty.</p>
		{% endif %}

		<a class="btn btn-primary" href="{% url 'add_sku'%}">Add new SKU</a>

		<a class="btn btn-primary" href="{% url 'inventory_changelog'%}">Inventory ChangeLog</a>

		<br>
		<br>

		<a class="btn btn-success" href="{% url 'sales_log'%}">Sales Log</a>

	</div>
</body>
</html>