{% load static %}

<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'inventory/bootstrap.min.css' %}">
</head>

<body>
	<div class='col-lg-12'>
		<br>
		This template displays page to update SKU.

		<br>
		<br>

		<p>Updating SKU : {{sku}}

		<form action="{% url 'update_sku' sku %}" method="post">
			{% csrf_token %}
			
			<label>Quantity</label>
			{{ form.quantity }}

			<label>Action</label>
			{{ form.action }}

			<br>

			<label>Comment</label>
			{{ form.comment }}

			<br>
			<input type="submit" value="Submit">
		</form>

		<a class="btn btn-warning" href="{% url 'delete_sku' sku %}">Delete</a>

		<a class="btn btn-primary" href="{% url 'inventory'%}">Inventory Main Page</a>
	</div>
</body>
</html>